.Header {
    color: white;
    font: 900;
    font-size: large;
    text-align: center;
}

.MenuList Label {
    color: lightgray;
    font-size: large;
    font: 500;
}

.MenuList Image {
    display: block;
    height: 50;
    width: 50;
}